[2018-10-08 11:17] perploug opened #1 "To-dos"
- [ ] [CONTRIBUTING.md](../blob/master/CONTRIBUTING.md) updated
- [ ] [CONTRIBUTORS.md](../blob/master/CONTRIBUTORS.md) updated with names of external contributors
- [ ] [CODEOWNERS](../blob/master/.github/CODEOWNERS) updated with usernames of who review which PRs
- [ ] [MAINTAINERS](../blob/master/MAINTAINERS) updated with team member contact info
- [ ] [CODE_OF_CONDUCT.md](../blob/master/CODE_OF

[2018-10-08 18:52] mikkeloscar opened #5 "idea: Nakadi collector"
Reference: https://nakadi.io/manual.html#/subscriptions/subscription_id/stats_get

https://github.com/mikkeloscar/kube-metrics-adapter/issues/1#issuecomment-404738138

[2018-10-08 18:52] mikkeloscar opened #6 "add unit tests"
### TODO
- [x] Determine coverage of current codebase ( Integrate [coverall](https://coveralls.io/) )
- [ ] Set target coverage for the codebase
- [ ] Implement unit-tests in code with low coverage

https://github.com/mikkeloscar/kube-metrics-adapter/issues/9#issue-362541610

[2018-10-12 09:34] arjunrn commented on #1
Only the `CONTRIBUTORS.md` file needed to be updated. The rest of the files seemed to be in order.

[2018-10-12 09:34] #1 closed

[2018-11-26 10:14] szuecs opened #16 "add release notes"
The current workflow to release this project does not include any release notes.
To document for us and the public audience we should use GH releases and set up release notes similar we do in in skipper, for example: https://github.com/zalando/skipper/releases/tag/v0.10.122

[2018-12-07 19:34] karthikborkar opened #17 "Templates from Doc folder gives some 403 errors"
I was able to bring up pod with the template and only thing i changed was Prometheus URL
to :  --prometheus-server=http://prometheus.monitoring.svc.cluster.local:9090

I see the bunch of errors

`
time="2018-12-07T19:26:19Z" level=error msg="horizontalpodautoscalers.autoscaling is forbidden: User \"system:serviceaccount:kube-system:custom-metrics-apiserver\" cannot list horizontalpodautoscalers.au

[2018-12-07 19:56] mikkeloscar commented on #17
Thanks for creating the issue, the RBAC configuration is outdated/wrong. I have made a PR to fix it: https://github.com/zalando-incubator/kube-metrics-adapter/pull/18

[2018-12-08 13:34] #17 closed

[2018-12-09 16:05] karthikborkar opened #20 "Possible to write HPA using nested prometheus metric ?"
## Expected Behavior
- prometheus is setup and recording metrics from collectd using collectd to Prometheus and can be queried Prometheus  like this which gives

`curl prometheus.monitoring.svc:9090/api/v1/query?query="collectd_statsd_derive_total"`

	"status": "success",
	"data": {
		"resultType": "vector",
		"result": [{
			"metric": {
				"__name__": "collectd_statsd_derive_total",
				"exporte

[2018-12-09 17:45] karthikborkar commented on #20
I have tried this:
[code]

My prometheus query is correct :

{"status":"success","data":{"resultType":"scalar","result":[1544377450.443,"0.008333333333333333"]}}

[2018-12-09 18:57] karthikborkar commented on #20
closing this, was able to get it working with above HPA but kind is getting stored as `""` for my metric
eg:
[code]
how do i tell what kind to use so that HPA will fetch the metrics properly ?

[2018-12-09 19:41] karthikborkar commented on #20
logs:
[code]
```I1209 19:39:13.546788       1 wrap.go:42] GET /apis/custom.metrics.k8s.io/v1beta1/namespaces/default/deployments/custom-metrics-consumer/prometheus-target-kbasync-lenh-seca: (1.950008ms) 404```

but if replace `deployment` with `""` or `.` or empty it works.
[code]

[2018-12-11 11:59] karthikborkar commented on #20
so i looked at the code and found
[code]
There is no support for deployment and when i changed kind to pod it started working.

Closing this issue

[2018-12-11 11:59] #20 closed

[2018-12-27 13:55] szuecs opened #23 "Advertisement"
Add it to https://github.com/kubernetes/metrics/blob/master/IMPLEMENTATIONS.md#custom-metrics-api

[2019-01-22 10:44] humayunjamal opened #30 "CreateNewMetricsCollector : Failed to create new metrics collector"
## Expected Behavior
external and custom metrics api should give  some output but there is none

## Actual Behavior

 kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1" | jq .
{
  "kind": "APIResourceList",
  "apiVersion": "v1",
  "groupVersion": "external.metrics.k8s.io/v1beta1",
  "resources": []
}
## Steps to Reproduce the Problem

  1. Using the manifests with some updation of config pa

[2019-01-22 10:46] humayunjamal commented on #30
@szuecs your help/guidance here will be much appreciated :)

[2019-01-22 13:07] humayunjamal commented on #30
@mikkeloscar  the hpa setting for myservice is

[code]

[2019-01-22 13:12] humayunjamal commented on #30
Also please escuse my ignorance where exactly I can find the expectations of the metrics-adapter in HPA. the json examples or documentation given in the main readme is not clear enough or detailed enough :(

[2019-01-22 13:52] mikkeloscar commented on #30
Sorry, we have tried to explain this in the README, please let us know if you have ideas on how to make this more clear?

For your HPA, the problem is that you specify `metricName: cpu_system` but the metrics-adapter doesn't know what to do with this metric. You need to also provide the annotations similar to what's shown in this example: https://github.com/zalando-incubator/kube-metrics-adapter#p

[2019-01-22 14:05] humayunjamal commented on #30
@mikkeloscar
Do I need to run an exporter in my app ? which exports the metrics via /metrics plus it should be exposed in json format ?

[2019-01-22 14:13] mikkeloscar commented on #30
Yes, that's what's currently supported for the Pods resource type in the metrics-adapter.

If you have the data in prometheus you could also use the prometheus collector by configuring your HPA like in this example: https://github.com/zalando-incubator/kube-metrics-adapter#prometheus-collector
but without knowing your application I'm not sure what you are trying to do and if this would make sense

[2019-01-23 06:16] humayunjamal commented on #30
If you guys dont mind then can we have a full end to end example or walkthrough so people can quickly try it out and see if its the right tool for them or not. Because for me it seems to be an overkill as I will need to convert the exporters to write json output and then actually see how it benefits me. Just trying it out first time with the current README is unfortunately not detailed enough.

[2019-01-23 19:43] szuecs opened #32 "Create a fullstack example - aka 1 minute guide"
As seen in https://github.com/zalando-incubator/kube-metrics-adapter/issues/30, the docs should have an example that deploys a full stack that shows the capability of this tool.
The example could show an example that have an example hpa with `requests-per-second`, that also deploys the components required to have it.

[2019-01-23 19:48] szuecs commented on #30
@humayunjamal what do you want to achieve with the custom HPA? Scale by request per second or something App specific?

[2019-01-24 05:48] humayunjamal commented on #30
@szuecs I want to achieve scaling by requests per second . Unfortunately the skipper /metrics also dont expose requests per second metrics.

[2019-01-24 09:49] arjunrn commented on #30
@humayunjamal The setup for the `kube-metrics-adapter` with skipper metrics is not explained well enough. Basically the skipper metrics are collected by `prometheus` and then `prometheus` is queried to provide aggregate numbers. I will add a How-To document over this weekend and hopefully you will be able to try it after that.

[2019-02-18 17:07] jonathangold opened #35 "Support for AWS collector from external cluster"
I need to scale based on sqs queue length, but my cluster will be running on GKE (or locally,) and I'm not 100% sure if this use-case is supported yet. Can I just add the aws credentials to env, and get it working externally?

[2019-02-18 17:26] mikkeloscar commented on #35
Yup, that should work, it just uses the AWS SDK for access to SQS, so any valid way of configuring the SDK should work (not tested though).

[2019-02-18 17:37] jonathangold commented on #35
@mikkeloscar thanks for the quick reply. Once I get it working, I'll submit a PR to document the process.

[2019-02-18 18:40] mikkeloscar commented on #35
Awesome! Looking forward to it!

[2019-02-21 21:54] jonathangold commented on #35
@mikkeloscar I've started on my deployment, but I'm getting the following error on the kube-metrics-adapter pod:

[code]
I tried tracing the code-path, but didn't have much luck. Am I missing something obvious. Thanks in advance.

[2019-02-21 22:53] mikkeloscar commented on #35
Are you setting the `--aws-external-metrics` and `--aws-region` flags?

https://github.com/zalando-incubator/kube-metrics-adapter/blob/f4efa2898be17cc4482702a363136f0778551869/pkg/server/start.go#L203-L209

https://github.com/zalando-incubator/kube-metrics-adapter/blob/f4efa2898be17cc4482702a363136f0778551869/pkg/server/start.go#L211-L213

[2019-02-23 16:29] jonathangold commented on #35
That was the issue. It's working now! thanks!

[2019-02-23 16:29] #35 closed

[2019-02-26 04:00] jonathangold opened #36 "bug: hpa provider only provides values for the last sqs metric in list"
## Expected Behavior

With two external metrics defined, the hpa provider should provide metrics for both, but only returns values for the second one.

Here's the hpa manifest:

[code]

## Actual Behavior

The collector finds `bar` and `baz` on the first run, but then only provides values for `baz` after the first round of metrics is collected.

kube-metrics-adapter log:
[code]

## Steps to Reprod

[2019-02-26 12:24] mikkeloscar commented on #36
Thanks for reporting! I suspect this is a problem of how the metrics are stored by name in the in-memory storage.

[2019-02-26 12:51] jonathangold commented on #36
No problem. I will have a look at the code today, as I kind of need to get this working asap. :)

[2019-02-27 18:49] szuecs opened #37 "too many /metrics requests"
We flood skipper instances with quite amount of calls per second:
[code]

I guess we have to decouple metrics gathering from the hpa instances in some way.

[2019-03-04 17:57] jonathangold commented on #36
@mikkeloscar It seems you're correct. When the resources are referenced as a resourceReference, both queues will be identical, so the second will overwrite the first in the map.

https://github.com/zalando-incubator/kube-metrics-adapter/blob/6b8468d2ec9a1ca5ed0d365ee7903939ba903c0d/pkg/provider/hpa.go#L280

Maybe the queue name should be appended to the resource name, or an additional field should

[2019-03-04 21:56] mikkeloscar commented on #36
We somehow need to include the labels in the key as this is what makes the metric definition unique (and is more general than `queue-name`).

Simple solution would be to just sort by key name and hash it/convert it to a string which would then be used as value for an additional field.
It's not the most efficient way of storing data, but unless we are dealing with thousands of metrics I doubt it wi

[2019-03-04 22:06] mikkeloscar commented on #36
It's actually not `resourceReference` which is the problem, but rather that we only store a single collector per metric Type: https://github.com/zalando-incubator/kube-metrics-adapter/blob/6b8468d2ec9a1ca5ed0d365ee7903939ba903c0d/pkg/provider/hpa.go#L316 So the `typeName` key needs to be extended to also include the labels (or we need one more level, like we do it in the metric store).

[2019-03-05 11:09] arjunrn commented on #36
Just fyi the version autscalingv2beta2 supports labels but the custom api metrics server used in this project has not been updated to provide them when the calls are processed, last time I checked.

[2019-03-07 20:09] Sanjanare opened #38 "unable to get metric error : using prometheus-collector"
## Expected Behavior
I have a prometheus query that can be used for scaling, expected behavoir scale up using metric
## Actual Behavior
Error: Warning  FailedGetObjectMetric         3s (x2 over 18s)  horizontal-pod-autoscaler  unable to get metric jvm-memory-bytes-used: Service on dev event-service/unable to fetch metrics from custom metrics API: the server could not find the metric jvm-memory-byt

[2019-03-08 16:12] arjunrn commented on #38
There are several things which could go wrong. Have you configured the prometheus address correctly? What do the logs say?

[2019-03-08 16:13] arjunrn commented on #37
@szuecs The adapter does not query skipper directly. It queries prometheus. So I'm guessing this is from e2e tests. Will close this for now.

[2019-03-08 16:13] #37 closed

[2019-03-08 16:31] Sanjanare commented on #38
yes prometheus address is correct:- using istio prometheus.
http://prometheus.istio-system.svc.cluster.local:9090

**logs:**
error: cannot get the logs from *v1.HorizontalPodAutoscaler: selector for *v1.HorizontalPodAutoscaler not implemented

**describe events:**

Events:
  Type     Reason                        Age                From                       Message
  ----     ------

[2019-03-08 16:43] Sanjanare commented on #38
**Kube-metrics-adpater logs:**

time="2019-03-08T16:28:16Z" level=info msg="Adding new metrics collector: *collector.PrometheusCollector" provider=hpa
time="2019-03-08T16:28:16Z" level=info msg="Found 1 new/updated HPA(s)" provider=hpa
time="2019-03-08T16:36:17Z" level=info msg="Collected 1 new metric(s)" provider=hpa
time="2019-03-08T16:36:17Z" level=info msg="Collected new custom metric 'jvm-mem

[2019-03-08 17:45] Sanjanare commented on #38
@arjunrn

[2019-03-08 19:02] arjunrn commented on #38
@Sanjanare The only thing out of the ordinary is that the adapter stops tracking the HPA:

Can you verify that the HPA exists and is not being deleted/cleaned-up/changed?

[2019-03-08 19:07] Sanjanare commented on #38
@arjunrn yes it is in running state...so i might have deleted to try something but later re-installed so its there ..and shows same error...

[2019-03-09 18:57] arjunrn commented on #38
I could recreate the issue. It looks like the metrics Object does matter although it has nothing to do with how the metrics are collected. So this sections:

[code]
should be changed to something with `Pod` or `Ingress` in the `kind` field. It does not have to be a valid pod or ingress but it affects how the metrics are stored. So can you try that and let me know. Also just a heads up there is a `

[2019-03-09 18:58] arjunrn commented on #32
Documentation was added in PR #34

[2019-03-09 18:58] #32 closed

[2019-03-09 18:58] arjunrn commented on #6
@muaazsaleem has added some tests and we can close this for now

[2019-03-09 18:58] #6 closed

[2019-03-09 22:54] Sanjanare commented on #38
@arjunrn thank you so much u solved my issue...
After changing kind to Pod it worked , 😀
when i change kind to Ingress it did not work it showed me the same error could not find query.... after making lot of changes your suggestion helped me thanks a ton

[2019-03-09 22:55] Sanjanare commented on #38
If you want me to share logs let me know ..

[2019-03-09 23:01] Sanjanare commented on #38
Is there a option to scale down a pod ?

[2019-03-24 15:27] DaspawnW opened #40 "Crash in Kube Controller Manager"
## Actual Behavior
Kube-Metrics-adapter produces kernel Panic in Kube-Controller

## Steps to Reproduce the Problem

  1. Configured Secret with serving.crt and serving.key that has common_name kube-metrics-adapter and alt_names kube-metrics-adapter.kube-system,kube-metrics-adapter.kube-system.svc,kube-metrics-adapter.kube-system.svc.cluster.local
  2. Create all the files as described in docs, bu

[2019-03-24 18:24] szuecs commented on #40
I guess the problem is the kubernstes version. We run 1.12, right now and I bet it doesn’t work because of that.

[2019-03-25 10:33] narayanansukumar opened #41 "Scale pods with metrics from other pods"
I have implemented HPA based on metrics server (based on memory and CPU), however, it is not suitable for my use case and I'd like to scale the pods (logstash) based on KAFKA consumer lag, I have the metrics in Prometheus that is running inside the k8s cluster under a different namespace.

Prometheus query for getting the metrics:
sum(kafka_consumergroup_lag{instance="xxxx:9308",consumergroup=~"so

[2019-03-25 10:59] arjunrn commented on #41
You don't need to expose these metrics from the pod because there is already a Prometheus collector which you can specify in the HPA. The metrics adapter will then query this metric and expose it as a custom metric.

[2019-04-03 08:23] #36 closed

[2019-04-09 09:09] timstoop opened #45 "Prometheus collector should create External target.type"
## Expected Behavior
I think it makes more sense for the Prometheus collector to create an External metric instead of an Object. The syntax fits better. Also, although it can provide metrics about an Object, I doubt it will be used much in that way.

## Actual Behavior
It currently provides the metrics of type Object. So a dummy target has to be added and for Kubernetes <1.12 targetAverageValue re

[2019-04-18 10:23] hjacobs commented on #16
Yes, please create proper releases!

[2019-04-28 09:22] mikkeloscar commented on #45
Hi, thanks for opening the issue (sorry for not getting back sooner). I agree that External metric makes sense for prometheus and I would add that as a second option to stay backward compatible at least for long enough for users to migrate.

[2019-04-30 21:29] mikkeloscar commented on #40
What does your HPAs look like? We are running kube-metrics-adapter on a few v1.13.5 clusters and haven't noticed this, so would be cool to know how to replicate the issue.

[2019-04-30 21:34] mikkeloscar commented on #38
@Sanjanare seems like you solved the issue, so I will close this.

To answer your question about scaling down a pod, this will happen if the result of the query is less than what you specify in `targetValue`. Note that the HPA currently doesn't supporting scaling down to `0`.

[2019-04-30 21:34] #38 closed

[2019-04-30 21:36] mikkeloscar commented on #23
Has been added by someone :D https://github.com/kubernetes/metrics/commit/721caba7cf20a69f6c85a05d24944add3ddd2f3f

[2019-04-30 21:36] #23 closed

[2019-04-30 21:37] mikkeloscar commented on #30
Closing as this was documented. Please re-open if something is still unclear!

[2019-04-30 21:37] #30 closed

[2019-04-30 21:38] mikkeloscar commented on #41
Closing as this was a question which has been answered. Please re-open if something is still unclear.

[2019-04-30 21:38] #41 closed

[2019-05-02 08:30] szuecs commented on #40
I remember seeing this issue in our early 1.13 tries. Maybe it was fixed in v1.13.5. @DaspawnW can you test it on v1.13.5, please ?

[2019-05-08 02:03] thatsmydoing opened #55 "Support older autoscaling versions"
Currently, the adapter only tries to discover autoscaling/v2beta2 HPAs. This means it can only be used on newer kubernetes versions that provide autoscaling/v2beta2. It would be nice to have support for the old autoscaling/v2beta1 API as well.

Alternatively, the README could have a support matrix showing which versions of the adapter support which versions of kubernetes.

[2019-05-09 18:14] agolomoodysaada opened #56 "Helm Chart"
We should have a published helm chart for this project.

[2019-05-09 18:29] mikkeloscar commented on #56
Contributions are very welcome for this! :)

[2019-05-09 18:45] agolomoodysaada commented on #55
Doesn't this mean that this project doesn't support all k8s versions?
We should have clear kubernetes version compatibility listed.
Also the shown example is using v2beta1 : https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/example/deploy/hpa.yaml#L1

[2019-05-09 19:07] mikkeloscar commented on #55
I think it would be reasonable to strive for supporting the latest 3 minor versions of Kubernetes which is the same support guarantees as provided for [Kubernetes itself](https://kubernetes.io/docs/setup/version-skew-policy/#supported-versions).

We currently don't do this since `autoscaling/v2beta2` was introduced in `v1.12`

[2019-05-09 20:18] agolomoodysaada commented on #55
Weird... I tried k8s `1.11` and `1.12` but still not seeing the `v2beta2` version on GKE. For reference I'm trying on GKE `v1.12.7-gke.10`. on `v2beta1` shows up in `kubectl api-versions`.

I think supporting `v2beta1` would support a lot more versions.

[2019-05-09 20:20] agolomoodysaada commented on #56
Happy to contribute the chart I have but blocked by: https://github.com/zalando-incubator/kube-metrics-adapter/issues/55

[2019-05-10 05:40] mikkeloscar commented on #55
I have not tried to run it on GKE, but it's listed in the changelog: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-autoscaling and works on our v1.12 clusters, so I would expect it to also be there...

[2019-05-10 15:14] agolomoodysaada commented on #55
I filed a GKE issue with them to see what's the issue. But in general, shouldn't this project support more autoscaling versions such as `v2beta1`?

[2019-05-10 15:54] mikkeloscar commented on #55
This sounds reasonable yes, but we should also understand why this doesn't work in GKE when it should work with 1.12. Thanks for opening an issue!

Also note that currently you can still use `v2beta1` hpas in a cluster that also supports the `v2beta2` api, it only means the adapter can not run in clusters without `v2beta2` support. Which means anything before `v1.12`

[2019-05-10 15:58] agolomoodysaada commented on #55
I will write the GKE team's response here. In the meantime, can we add a flag or something that tells the adapter to check for v2beta1 hpas instead of forcing v2beta2?

[2019-05-16 03:29] guoweikuang opened #57 "There is no custom metrics api after kube-metrics-adapter installation"
## Expected Behavior
Custom metrics api can be accessed after installing kube-metrics-adapter

## Actual Behavior
$ kubectl get --raw "/apis/custom.metrics.k8s.io/v1beta1" | jq .
Error from server (ServiceUnavailable): the server is currently unable to handle the request

## Steps to Reproduce the Problem

  1. Deploy the adapter using the yaml file in the docs directory
  1.  kubectl get --raw "/

[2019-05-16 05:21] #57 closed

[2019-05-19 21:19] #45 closed

[2019-05-20 21:03] agolomoodysaada commented on #55
The GKE team is working on adding support for v2beta2 at the moment with no ETA yet.

[2019-05-20 21:33] mikkeloscar commented on #55
Thanks for looking into this. I'm at KubeCon and will also try to ask some of the GKE people about it.

[2019-05-23 09:56] mikkeloscar commented on #55
GKE v1.13.5 also doesn't seem to have the API enabled:

[code]

Will try to find the right people today, so far no-one from GKE knew anything :(

[2019-05-23 15:06] mikkeloscar commented on #55
So I talked with the autoscaling team from Google and they are aware of the issue and working on a fix, but it may take a bit to get rolled out. Maybe we can see about falling back to supporting `v2beta1` in the meantime.

[2019-06-19 20:36] agolomoodysaada commented on #55
The issue is now officially submitted to google team and can be tracked here: https://issuetracker.google.com/issues/135624588

[2019-06-20 15:15] mohanr commented on #16
I am looking for some guidelines to use this practically. How ?

[2019-06-20 16:06] szuecs commented on #16
@mohanr this issue is not about guidelines

[2019-06-24 17:38] StevenACoffman opened #60 "Comparison of Pod Collector to PodMonitor"
While the difference between the [Prometheus Collector](https://github.com/zalando-incubator/kube-metrics-adapter#prometheus-collector) and the [Prometheus Adapter](https://github.com/DirectXMan12/k8s-prometheus-adapter) is documented, I am interested in a comparison of the **[Pod Collector](https://github.com/zalando-incubator/kube-metrics-adapter#pod-collector)** and the experimental **[PodMonit

[2019-06-24 18:55] mikkeloscar commented on #60
As I understand it, these two concepts are different in the way that `PodMonitor` is "just" a way to configure prometheus to scrape metrics from pods, while `Pod Collector` is a way of scraping metrics ONLY for the purpose of autoscaling with the Kubernetes HPA.

Right now `Pod Collector` only supports JSON, so you can't use it for a pod that exposes metrics in prometheus format.

Assuming the `Po

[2019-06-24 19:23] veetow opened #61 "Prometheus External Metric not working"
## Expected Behavior

`kube-metrics-adapter` should be able to create a metrics collector based on the example in the readme.

## Actual Behavior

`kube-metrics-adapter` logs `Failed to create new metrics collector: no plugin found for {External prometheus-query}` for my HPA.

## Steps to Reproduce the Problem

1. I'm running `kube-metrics-adapter` from the banzaicloud chart at https://github.com/

[2019-06-24 20:08] mikkeloscar commented on #61
Hi, could you post the full log output of the `kube-metrics-adapter` from when you start it till you start to see those errors?

It would also be good if you could post the deployment.yaml of the final configuration. It's hard to determine the actual configuration just by looking at the chart, since there are many configuration variables.

[2019-06-24 20:09] mikkeloscar commented on #56
Fwiw there's a chart here: https://github.com/banzaicloud/banzai-charts/tree/master/kube-metrics-adapter

[2019-06-24 20:31] veetow commented on #61
Sure thing, here are the logs:
https://gist.github.com/veetow/ac91b34643f4c1678e990baa0f8f810e

Here is the deployment:
[code]

[2019-06-24 20:37] mikkeloscar commented on #61
Ok, I see, you are using the image: `banzaicloud/kube-metrics-adapter:0.1.1` which is from their fork (https://github.com/banzaicloud/kube-metrics-adapter/). This doesn't include the latest features like external prometheus metrics.

You can either use the latest image we have built from master:

[code]

Or build from source if you prefer: `IMAGE=$YOURNAME/kube-metrics-adapter make build.push`

[2019-06-24 20:42] veetow commented on #61
Ah, I couldn't find a public image published by zalando. I'll give this one a go.

[2019-06-24 21:07] veetow commented on #61
Using that image seems to have solved my issue.  Any plans to push those to quay or docker hub?

[2019-06-24 21:07] mikkeloscar commented on #61
Yeah, sorry about not making this clear. We will start doing releases and include a reference to the published images.

[2019-06-24 21:08] mikkeloscar commented on #61
Will track creating releases in #16

[2019-06-24 21:08] #61 closed

[2019-06-24 21:08] veetow commented on #61
Thanks!

[2019-07-14 06:53] samirgandhi19 opened #62 "Docs on using HTTPS with Pod collector"
## Expected Behavior
Add as an annotation:
`metric-config.pods.requests-per-second.json-path/protocol: "https"`
to have the pod collector reach out to an https pod endpoint.

## Actual Behavior
I couldn't find a way to achieve this. If there is **any** way to have the hpa use https, please let me know. Thank you.

[2019-07-15 07:09] mikkeloscar commented on #62
Documented in #63

[2019-07-15 07:09] #62 closed

[2019-07-21 08:15] mikkeloscar commented on #55
Pinged on the GKE issue today as this is still not enabled in the latest GKE version :(

[2019-07-23 16:35] gemoya opened #65 "Docker image tags"
Hi,
There is a list of current all available tags of the `kube-metrics-adapter` docker image ?. Currently I find a `latest` tag only.

I want to check the `kube-metrics-adapter` but I'd like to stay in a version for a while instead of always pulling the `latest` without know about when the image has been built.

I also tried `stable` but seems that doesn't exist.

[2019-07-24 03:20] shyamjvs commented on #40
We were facing similar issue. I've explained the root-cause for that here - https://github.com/kubernetes/kubernetes/pull/80392#issuecomment-514463245

[2019-07-24 03:26] shyamjvs commented on #40
One cause is that, there seems to be a bug in the kube-metrics-adapter that it's responding with 200 status code even though it failed to serve the metrics and it's instead silently setting 500 inside the response body. So the response body is actually a `*v1.Status` which fails to be typecasted to `v1.MetricValueList` inside client and therefore causes panic. https://github.com/kubernetes/kuberne

[2019-07-24 07:13] mikkeloscar commented on #65
Hi,

We will work on making proper releases such that a semantic version maps to a tag. I would like to get #64 in before we do a release.

In the mean time the tags available are (output from internal system).

[code]

You are also welcome to build the docker image yourself:

[code]

Would push an image to your docker hub account.

[2019-07-24 07:13] mikkeloscar commented on #65
Related to #16

[2019-07-26 03:55] agolomoodysaada commented on #55
Would like to confirm that this is still not supported on `v1.13.7-gke.8`.
Thanks for starting efforts on #64 !

[2019-07-26 06:22] mikkeloscar commented on #55
I tested `v1.13.7-gke.8` the other day, still not enabled (sorry forgot to mention the version).

Would you mind testing #64 in GKE if you have time, it should just work out of the box now. There is an image available built from the PR: `registry.opensource.zalan.do/teapot/kube-metrics-adapter-test:pr-64-3`

[2019-07-26 17:30] mikkeloscar commented on #60
I'll close this issue as "answered" :)

[2019-07-26 17:30] #60 closed

[2019-07-26 17:51] mikkeloscar commented on #40
@shyamjvs thanks a lot for looking into this. I was able to understand the issue based on your description and created a fix in #67

[2019-07-26 18:35] #40 closed

[2019-07-26 18:42] mikkeloscar commented on #65
We now have the first official release with the docker image referenced: https://github.com/zalando-incubator/kube-metrics-adapter/releases/tag/v0.0.1

[2019-07-26 18:42] #65 closed

[2019-07-26 18:43] mikkeloscar commented on #16
We now have the first official release: https://github.com/zalando-incubator/kube-metrics-adapter/releases/tag/v0.0.1

[2019-07-26 18:43] #16 closed

[2019-07-26 18:43] mikkeloscar commented on #55
Issue should be fixed and is included in the first official release: https://github.com/zalando-incubator/kube-metrics-adapter/releases/tag/v0.0.1

[2019-07-26 18:43] #55 closed

[2019-07-30 09:41] zillaer opened #69 "bug:crash when removing previously scheduled metrics collector and prometheus external metric is null"
## Expected Behavior
Don‘t crash

[code]

## Actual Behavior
Crash.
The bug is try to remove a collector that do not exist
May be to make a jugement about whether collector exists or not .
Only reproduced when the prometheus metric is nil

kube-metrics-adapter log:
[code]

## Steps to Reproduce the Problem

  1.Create a hpa containing promethues metric
  2.Make sure the prometheus metric is nil

#

[2019-07-30 09:56] mikkeloscar commented on #69
Thanks a lot for the detailed report!

[2019-08-10 13:37] Ruben-Repo opened #73 "unable to get metric requests-per-second: no metrics returned from custom metrics API"
## Expected Behavior
The HPA should be showing current number of  http_requests

## Actual Behavior

HPA Shows Unknown as status.
Metrics:                          ( current / target )
  "requests-per-second" on pods:  <unknown> / 10
 Warning  FailedGetPodsMetric           5s    horizontal-pod-autoscaler  unable to get metric requests-per-second: no metrics returned from custom metrics API
  Warni

[2019-08-10 13:44] Ruben-Repo commented on #73
Same issue when i try using the examples as well :

custom-metrics-consumer   Deployment/custom-metrics-consumer   <unknown>/1k, <unknown>/10 + 1 more...   1         10        1          2m

Thanks in advance.

[2019-08-12 16:31] edganiukov opened #74 "Feature request: add Prometheus URL as annotation in HorizontalPodAutoscaler definition"
In our cluster we have several Prometheus instances. I was wondering, if it is possible to add (optional) Prometheus URL in  HorizontalPodAutoscaler definition, for example:

[code]

If no such annotation defined -  use the one defined as command line arguments.

[2019-08-13 13:37] arjunrn commented on #74
@edganiukov this seems like a useful feature. We would be happy to accept a PR for it.

[2019-08-21 07:57] mikkeloscar commented on #73
Could you show us the full HPA manifest you deploy? Note that `request-per-second` metrics depend on having skipper running (unless you get the data e.g. with a custom prometheus query).

[2019-08-21 09:58] mikkeloscar commented on #74
Done in #75

[2019-08-21 09:58] #74 closed

[2019-08-22 16:47] balamuru commented on #56
For external metrics,  the banzai cloud chart is geared towards external / aws / sqs - i had better luck just deploying the yaml specs provided in the kube-metrics-adaptor . I haven't had a chance to go back and compare what the difference is.

[2019-08-22 17:06] balamuru opened #77 "Cant retrieve Custom Metrics"
## Expected Behavior
Custom metrics exposed by spring boot actuator metric is read

## Actual Behavior
Unable to get metrics

## Steps to Reproduce the Problem

  1. Deploy spring boot application in k8s using the dockerhub image https://cloud.docker.com/repository/docker/vinaybalamuru/spring-boot-hpa
[code]
  1. Install kube metrics adapter (custom and external etc). The adapter currently works f

[2019-08-22 19:07] Freyert commented on #56
`aws.enable` turns on the External metrics adapter, but it also turns on the AWS collector. 🤦‍♂
I get the feeling this chart will not meet expectations.
And the README doesn't match the actual values in some small cases, but I find it still kind of works.

[2019-08-23 07:04] mikkeloscar commented on #77
Thanks for a detailed report, could you also show the logs of the `kube-metrics-adapter` pod. I would imagine it would log some kind of error when trying to pull the metrics.

[2019-08-23 07:07] mikkeloscar commented on #56
The image in the chart linked above is a rebuild/republish of our image, so it will most likely be outdated. We are not users of helm so don't have the biggest incentive to work on this and maintain it, but contributions are welcome and I'm happy to review work towards a better chart :)

[2019-08-23 07:08] #69 closed

[2019-08-23 14:53] balamuru commented on #77
Here you go . Looks like some sort out of range error
[code]

[2019-08-23 15:03] mikkeloscar commented on #77
Then the question is if this query `$.measurements[:1].value` is valid in https://github.com/oliveagle/jsonpath

At least it would not be so hard to test this with all the data you provided :)

[2019-08-23 15:07] mikkeloscar commented on #77
I tested it like this and it is not valid at least with the json defined:

[code]

Output is:

[code]

[2019-08-23 15:12] mikkeloscar commented on #77
However this does not work with the kube-metrics-adapter because we expect a single value to be the result rather than a list. I think you need to do: `$.measurements[0].value` to get something that makes sense.

[2019-08-23 18:44] balamuru commented on #77
You are correct. It should be $.measurements[0].value. Custom autoscaling now works
Thanks
The valid command / yaml is
[code]
Sample output
[code]

[2019-08-23 18:44] #77 closed

[2019-09-13 22:56] agolomoodysaada commented on #55
I would like to confirm that GKE works well now with `v2beta1.` Thank you so much for this change.

[2019-10-08 13:54] mikkeloscar opened #81 "Add support for metrics with labels"
#80 introduces passing of metricSelectors to the metric storage interface e.g.: https://github.com/zalando-incubator/kube-metrics-adapter/pull/80/files#diff-2554eb34d855a4440f5810661211a7f5R265

Implement support for storing multiple metrics with the same name but different labels.

[2019-10-11 05:51] mikkeloscar commented on #55
`autoscaling/v2beta2` still not enabled in GKE `1.14.6-gke.13` :man_shrugging:

[2019-10-11 15:34] agolomoodysaada commented on #55
It makes no sense

[2019-10-11 15:45] mikkeloscar commented on #55
I asked for help on twitter: https://twitter.com/mikkeloscar/status/1182545645032349696

After my tweet someone was at least assigned to the bug ticket.

[2019-10-19 00:29] mzupan opened #82 "Metrics from an outside service?"
So this works great with prometheus but we autoscale so much that 100 nodes might go up and down per hour and thousands of pods autoscale up and down and prometheus is having memory issues that's OOMing.

I am wondering if this can hit an outside service/hostname for json metrics. Like I want to autoscale deployment `sidekiq` with metrics from service `sidekiq-collector`

If not currently.. then a

[2019-10-19 17:05] szuecs commented on #82
We had also issues with Prometheus, but recent versions and running with a vpa works great for us.
If you like to enhance this tool we are happy to review your pull requests. Tests are mandatory and documentation, too.

[2019-10-20 10:17] mikkeloscar commented on #82
@mzupan just to be clear. What you are asking for is something like the Prometheus external metric, but instead of Prometheus format want to hit a service which returns metrics in JSON format?

Is this correctly understood or do you mean something else? Maybe an example of the sort of metrics you would like to scale on would be helpful to understand the problem you are trying to solve.

[2019-10-20 22:01] mzupan commented on #82
@mikkeloscar it's my understanding that this only reads metrics from the same deployment it is autoscaling?

We have a deployment called `sidekiq` which is a bunch of workers. I want to read metrics from a collector that pulls in queue count numbers for a deployment/service called `sidekiq-exporter` that I can add a json endpoint to. I want to hit the `sidekiq-exporter` service to autoscale the `s

[2019-10-24 08:25] mikkeloscar commented on #82
@mzupan thanks, I understand what you want to do now. However I'm not completely convinced it makes sense to introduce such custom collectors when we already have Prometheus which is a general solution solving this problem in a "standard" way. Seems more like a hack to work around a Prometheus which is not scaled reasonable.

I do realize that not everyone is using Prometheus so having something j

[2019-10-24 11:38] pinkavaj commented on #82
The JSON metric collector is already present, but it is only used to collect metric from pods wich are managed by HPA. Metric from those pods also can be scaped by Prometheus and then used by prometheus metrics plugin, so this is a bit similar situation (but also a bit different).

I agree using Prometheus is usualy better idea, but this might help simplify some thinks.

I have already tryed to ha

[2019-10-25 16:01] mzupan commented on #82
@pinkavaj yes that's just what I was thinking of doing is adding a `host` or `service` attribute to the annotation

[2019-11-05 09:55] mikkeloscar commented on #73
Closing as there were no activity for a while and I consider it a support question.

[2019-11-05 09:55] #73 closed

[2019-11-06 11:18] tomaspinho commented on #82
@pinkavaj's work would also be very beneficial for us, what's missing for this to be merged?

[2019-11-06 11:47] pinkavaj commented on #82
It is proof-of concept now. It is tested to the point where metric from JSON endpoint are collected and processed, but I did not get to the point to actualy use it with any HPA. It needs a bit more testing, add proper documentation and probably write some tests.

We are now testing another metric API server, but I would gladly finish this (sinc we might revert back to this solution). It would real

[2019-11-06 12:15] mikkeloscar commented on #82
Sorry I lost track of this. The proposal seems reasonable to me. I would happily review a PR with this feature.

[2019-11-06 15:31] mikkeloscar commented on #55
Finally some progress on this:

[2019-11-07 08:41] jfuechsl opened #89 "ParseHPAMetrics in package collector may modify MatchLabels for external metric"
## Expected Behavior
The HPAProvider caches HPA resources and recreates associated metrics collectors, should the HPA resource change. I expect it to not recreate collectors if the HPA didn't change.

## Actual Behavior
HPAs with external metric collectors (e.g. Prometheus) are modified at each step (call of `updateHPAs`), thus bypassing the caching logic which causes the recreation of the metrics

[2019-11-07 13:38] #89 closed

[2019-11-07 14:15] jfuechsl commented on #89
@arjunrn Thank you for merging this so quickly. When is the planned next release?

[2019-11-07 14:20] mikkeloscar commented on #89
@jfuechsl released a new version: https://github.com/zalando-incubator/kube-metrics-adapter/releases/tag/v0.0.5

Thanks for the fix!

[2019-11-07 14:26] jfuechsl commented on #89
@mikkeloscar Thank you very much!

[2019-11-14 18:10] andrealexandre opened #91 "[Metric-Config] JsonPath support string indexers for json prop keys with dots"
## Expected Behavior
When setting up metric configs using jsonpath, it's expected to support the regular jsonpath expression.

## Actual Behavior
The actual behaviour is in the case of using string indexers for accessing json props with `.`'s in them, the jsonpath lib is not able to extract the value and go into the value.

https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/pkg/

[2019-11-14 18:10] andrealexandre commented on #91
Please let me know if you need more information. I'm more than happy to help.

[2019-11-18 13:39] szuecs commented on #91
@andrealexandre thanks for creating the issue. @arjunrn is right now at Kubecon, but he will follow up on this.

[2019-11-25 14:18] palmerabollo opened #93 "kube-metrics-adapter using multiple prometheus in different namespaces"
## Expected Behavior

When you have 2 HorizontalPodAutoscalers using annotations to specify the prometheus server (e.g. `metric-config.external.prometheus-query.prometheus/prometheus-server: http://my-prometheus`), metrics should be read from the prometheus server in the annotation.

## Actual Behavior

The prometheus-server defined in the kube-metrics-server flags is used instead of using the val

[2019-11-25 14:49] mikkeloscar commented on #93
I can not replicate this issue.

Using the example HPA from the README. I create two HPAs in different namespaces and observe the following in the kube-metrics-adapter logs:

[code]

I didn't actually set up the Prometheus servers but this indicates it tries to go to the one defined as an annotation.

Could you share the full hpa manifest you use for this issue to trigger?

[2019-11-25 21:32] palmerabollo commented on #93
Thanks for your prompt reply, Mikkel. Let me try to reproduce it again to share the minimal manifest and to doule chech that it's not something in our side. We use Thanos in front of Prometheus, but it should expose the same Prometheus API.

[2019-11-26 10:03] tomaspinho opened #94 "Doesn't play well with another collector"
## Expected Behavior
`kube-metrics-adapter` should behave well in an environment with a different external or custom metrics provider.

## Actual Behavior
`kube-metrics-adapter` will attempt modifying HPAs that have external or custom metrics when it is not configured as a metrics provider for that metric type.

Logs:
[code]

Event on respective HPA:
[code]

## Steps to Reproduce the Problem

  1.

[2019-11-26 10:04] tomaspinho commented on #94
Is there a surefire way of introducing logic to the HPA provider to only target HPAs for which the collector is configured for? Or that have any annotations beginning with `metric-config`?

[2019-11-26 10:23] mikkeloscar commented on #94
What is the actual impact you observe? Does it just print errors because it can't enable a collector for the HPA, or does it cause actual issues?

If it's just an error we can maybe maybe it less verbose?

[2019-11-26 10:26] tomaspinho commented on #94
As it fails to create the collector, the errors get logged and inserted as events on the HPA. We're seeing thousands of such events, it's unnecessary noise. But there's no other impact.

[2019-11-26 10:47] mikkeloscar commented on #94
Ah ok, I see what you mean now. Yeah, that is annoying if you don't intend to use it for this.

In the general case I think the event/log is still useful if you are only running the kube-metrics-adapter in your cluster, but it would probably make sense to add a flag for disabling reporting HPAs which doesn't match any collector plugin. What do you think?

[2019-11-26 10:52] tomaspinho commented on #94
Yeah, that's the kind of thing I'd be willing to implement. What do you think about the two ways I suggested above?

[2019-11-26 12:54] mikkeloscar commented on #94
The best way would be to check if the error here: https://github.com/zalando-incubator/kube-metrics-adapter/blob/120950078c9b21bcee0dae7a1011b94d1e25ab18/pkg/provider/hpa.go#L165 is indicating that no plugin matched the HPA and then just not log the error/emit the event if you have this disabled via a flag.

Does that make sense?

[2019-11-27 11:54] tomaspinho commented on #94
PR for this opened

[2019-12-28 19:34] Arnold1 opened #96 "not sure how to install the adapter"
## Expected Behavior

## Actual Behavior
im not sure how to install the adapter. make was working fine. but when I start the kube-metrics-adapter binary I get some error. is there more doc somewhere, which I missed to read?

[code]

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
[code]
  - Platform:
I locally have Mac osx

  - Subsystem:
aws kops with kubectl

[

[2020-01-06 10:09] mikkeloscar commented on #96
Hi,

Running the adapter locally is not so helpful as it needs to be in a cluster to be useful.

We provide all the needed manifests for deploying here: https://github.com/zalando-incubator/kube-metrics-adapter/tree/master/docs just apply them one by one.

We currently don't provide a helm chart, and I'm afraid that the https://hub.helm.sh/charts/banzaicloud-stable/kube-metrics-adapter chart may b

[2020-01-12 19:14] Arnold1 commented on #96
@mikkeloscar thanks a lot. does it work on AWS Kops? also I need to change the aws region accordingly? https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/docs/deployment.yaml#L32-L33

ok how can I use this adapter to scale the pods by latency? the following sample does horizontally pod scaling by cpu.
but I want to change it to scale by maximum req duration P99 (milliseconds). i

[2020-01-13 09:08] mikkeloscar commented on #96
The region is only relevant for the SQS metrics, if you don't need it you can leave it out I believe.

If you want to scale on something like p99 then you need a way to collect those metrics, prometheus would be an obvious choice. If you have prometheus setup you can configure an HPA like shown in this example:
https://github.com/zalando-incubator/kube-metrics-adapter#example-external-metric

Note

[2020-01-14 20:01] rahanar opened #97 "kube-metrics-adapter (with pod collector enabled) returns stale data"
Hello,

I have been testing kube-metrics-adapter (with pod collector enabled) and noticed that it returns stale data during specific conditions, which results in HPA misbehaving. The conditions occur when HPA scales up a deployment due to high load, then load subsides and it scales the deployment back to min-replica. However, if I increase the load again that should result in a scale-up, the HPA w

[2020-01-15 09:38] mikkeloscar commented on #97
Thanks for the detailed bug report. I would suggest we add the changes you propose first and then think about a more robust solution.

I'm surprised the HPA controller is asking for metrics of old pods, even if the metrics server is storing them it seems like the wrong behavior to get those. I would have to check how the official "metrics-server" behaves for CPU and Memory metrics because I also b

[2020-01-15 10:48] dudicoco opened #98 "Support for exposing /metrics and /healthz?"
Hi,

Does kube-metrics-adapter exposes its own metrics with a prometheus client? Does it expose an endpoint for health checks using kubernetes probes?

Thanks

[2020-01-15 11:16] mikkeloscar commented on #98
No, we currently don't provide either of those endpoints. What sort of metrics would you want to get from a prometheus endpoint?

[2020-01-15 12:24] dudicoco commented on #98
Hi @mikkeloscar, I would like to get error counts so I can set up alerts them.
I would also like a health endpoint so I can configure liveness probe checks to restart the container if it's unhealthy.
Here is an example of an implementation in the External-DNS controller:
https://github.com/kubernetes-sigs/external-dns/pull/132#issuecomment-292490308

[2020-01-15 15:58] mikkeloscar commented on #98
I guess it can make sense to report errors, e.g. if a collector is not working you could figure it out. maybe just a bit hard to distinguish between user configuration errors and actual errors in some cases.

PRs for adding such a metric endpoint would be welcome.

Regarding the health endpoint I'm not sure under which condition it would make sense to kill the container. Unlike external-dns, this

[2020-01-15 16:45] dudicoco commented on #98
Thanks for the detailed explanation @mikkeloscar.

So if I set up a probe with https scheme to target the main listener i'm good to go?
Do you only recommend setting a readiness probe and not a liveness probe?

[2020-01-15 17:04] mikkeloscar commented on #98
We didn't run with either in production for a year or so now, and we didn't have issues related to this thus far, so I can't recommend on either as I don't know what the benefit would be :)

[2020-01-15 17:45] rahanar commented on #97
Thanks @mikkeloscar for your reply! I will create a PR for this.

I looked into why HPA was getting old metrics. In my case, at least, it was querying using labels. So, kube-metrics-adapter was correctly returning objects that matched the labels. Whether they should be there or not is the issue here.

I have not looked into metrics-server, but will check it out after I prepare a PR.

[2020-01-17 15:21] anderseknert opened #99 "OpenAPI spec does not exist"
Hi guys! More of an annoyance than anything else really, but would nice if we could avoid having the API server stop spewing logs about "OpenAPI spec does not exist" for the `v1beta1.external.metrics.k8s.io` and `v1beta1.custom.metrics.k8s.io` objects.

## Expected Behavior

API server logs not full of messages like:

[code]

## Actual Behavior

API server logs full of messages like that.

I guess

[2020-01-17 22:17] szuecs commented on #99
Do you want to create a pr?

[2020-01-20 12:52] anderseknert commented on #99
I don't currently have the bandwidth to do so, but will check back once I do to see if this is still open.

[2020-01-21 23:56] rahanar commented on #97
Hello,

Just providing an update on the issue and the fix.

I am currently working on an approval from my employer to contribute to this project. As soon as that's done, I will make a PR with the fix. If anyone else wants to do it, feel free to create a PR.

Thanks,
Anar

[2020-01-22 11:49] mikkeloscar commented on #97
Thanks for the update, did you have a chance to look at how the metrics-server handles this issue?

[2020-01-24 08:41] mikkeloscar commented on #55
The bug report was closed in GKE and users stating it works since v1.15.7: https://issuetracker.google.com/issues/135624588

[2020-02-04 10:48] prageethw opened #104 "Hard to distinguish which metrics query is in play ... maybe this is a feature than a defect"
## Expected Behavior
 I have multiple external metrics in play similar to below,

[code]

Then when I describe HPA I would expect that I will be able to distinguish each metrics that are in play as below,
[code]

## Actual Behavior

I see below in HPA which is very hard to distinguish which external metrics is in play
[code]

## Steps to Reproduce the Problem

  1.Install Kube-metrics-adaptor v0.1

[2020-02-04 11:58] mikkeloscar commented on #104
This is a problem I never considered, but I can totally see how it's not ideal to have the same query name used.

I would consider it a feature that we change/extend the metrics definition in a way where you can name the metrics in a custom way. In the past we were limited to the metricName as an identifier because we were using older autoscaling API versions, but now with `autoscaling/v2beta2` be

[2020-02-04 22:21] prageethw commented on #104
Thanks @mikkeloscar

[2020-02-10 15:55] arjunrn commented on #94
Issue fixed with #95

[2020-02-10 15:55] #94 closed

[2020-02-17 23:07] badbeeker opened #105 "Any chance to update the AWS Go SDK to support IAM For Service Accounts?"
Any chance the AWS go SDK could be updated to support IAM for Service Accounts?  Would go a long way for us EKS users or anyone running on AWS.  That way we don't need to run Kube2IAM or KIAM in the cluster.

Thank you!

[2020-02-18 08:30] mikkeloscar commented on #105
Sure, no problem. We're currently testing this out ourselves so we will also need it. Made a PR to fix it :)

[2020-02-18 08:59] #105 closed

[2020-02-26 15:17] doyshinda opened #108 "[Metric-Config] Support for passing query params to pod metrics endpoint"
## Expected Behavior
Ability to add URL query parameters (`foo=bar&baz=bop`) to the metrics config json-path to be passed on to the pod's metric endpoint.

## Actual Behavior
There is no explicit option to pass query parameters to the endpoint defined when collecting pod metrics. Appending the query to the `path` config option results in Go correctly percent encoding the `?` because it is a [reser

[2020-02-26 15:19] doyshinda commented on #108
Hi, I have a change locally that adds support to add a new parameter to json-path named `rawQuery`. This value is plumbed through to Go's `net/URL` [struct](https://golang.org/pkg/net/url/#URL) as `RawQuery` to allow passing query params to pod endpoints.

If this is an acceptable approach, I will put up a PR here.

[2020-02-26 16:47] mikkeloscar commented on #108
Sounds reasonable to me. Please create a PR then we can discuss the details there.

[2020-03-03 17:46] sancyx commented on #96
Hi @Arnold1, we've upgraded the helm chart in our repo, https://hub.helm.sh/charts/banzaicloud-stable/kube-metrics-adapter/0.1.1 so you can use it if you want.

[2020-03-10 16:00] #108 closed

[2020-04-14 03:53] bentrombley opened #142 "v0.1.3 requires additional rbac permissions"
We just upgraded from 0.1.0 to 0.1.3 and started seeing errors in our logs like:
[code]

I'm not sure what changed, but it seems something is looking up `ConfigMap` in apigroup `""`. This change fixed it for us:

[code]

## Expected Behavior
There should be no errors/warnings in the logs.

## Actual Behavior
See above logs. This caused the HorizontalPodAutoscalers to fail.

## Steps to Reproduce t

[2020-04-14 03:55] bentrombley commented on #142
Sorry, I'd submit a pull request, but that would require a lengthy approval process from my employer.

[2020-04-14 07:31] mikkeloscar commented on #142
Hi @bentrombley there should be a default role in the cluster called: `extension-apiserver-authentication-reader` This we bind to here: https://github.com/zalando-incubator/kube-metrics-adapter/blob/97ec13d010bd58af766289932381e957ab47de30/docs/rbac.yaml#L116

Does your cluster not have this role as default? From what I can see it should also be in v1.15.7

[2020-04-21 04:22] arjunrn commented on #82
There is now an external http json collector. Implemented in #122

[2020-04-26 14:12] dudicoco opened #144 "Errors in logs when attempting to query a label value which doesn't exist"
When using an external metrics with a query such as the following:
[code]

If no `5xx` events have been registered yet, we get the following in the logs:
[code]

Perhaps this should be a `warning` instead of `error`? Considering that this label value can be updated at any time.

[2020-04-26 16:00] szuecs commented on #144
Can you try to use max(0, query), not sure about syntax but maybe a more safe query.

[2020-04-30 08:13] dudicoco commented on #144
@szuecs thanks, sounds like a proper solution.

[2020-04-30 08:13] #144 closed

[2020-04-30 08:16] dudicoco commented on #144
For anyone interested, another solution could be the `absent` function:
https://prometheus.io/docs/prometheus/latest/querying/functions/#absent

[2020-05-07 12:45] lomkju opened #149 "Support for multiple external http metrics."
Hi,

Can we somehow get metrics from multiple external HTTP endpoints.
Something like below
[code]

[2020-05-08 14:14] arjunrn commented on #149
@lomkju This should work out of the box. What's the error message you get?

[2020-05-08 21:06] lomkju commented on #149
The metric name needs to be http for it to work.
Below is the error for the same.
[code]

[2020-05-09 15:06] mikkeloscar commented on #149
Sounds related to https://github.com/zalando-incubator/kube-metrics-adapter/issues/104

[2020-05-19 07:35] pc-rnukala1 opened #154 "SQS hpa throwing region error"
## Expected Behavior

HPA should get the given sqs queue metric.

## Actual Behavior

`time="2020-05-19T07:28:31Z" level=info msg="Event(v1.ObjectReference{Kind:\"HorizontalPodAutoscaler\", Namespace:\"test-app\", Name:\"test-hpa\", UID:\"916f0d14-999d-11ea-9292-0aead91950b0\", APIVersion:\"autoscaling/v2beta2\", ResourceVersion:\"88872595\", FieldPath:\"\"}): type: 'Warning' reason: 'CreateNewMet

[2020-05-19 08:44] mikkeloscar commented on #154
Hi, you must specify the aws regions supported via the flag `--aws-region` when running kube-metrics-adapter. You can specify it multiple times for more regions.

[2020-05-20 07:20] pc-rnukala1 commented on #154
@mikkeloscar - That solved my problem. Thanks

[2020-05-20 07:20] #154 closed

[2020-05-20 21:19] RRAlex opened #155 "v2beta2 HPA w/prometheus query: 404 logs & <unknown>"
## Expected Behavior
I was creating a test HPA (v2beta2) with a simple Prometheus query (to test, not to get a valid scaling value), and it doesn't seem to get populated in the custom-metrics. The HPA value thus the target is stuck with the `<unkown>` value.

## Actual Behavior
I'm getting a 404 error in the kube-metrics-adapter logs (below) and the HPA is never getting updated.
I'm probably missi

[2020-05-21 15:18] RRAlex commented on #155
So it seems prometheus 2.18.1 wants the path prefix `/prometheus` for queries via `/api/v1/query` but setting it like this seems to ignore the `/prometheus` part, (still getting 404...):

`metric-config.external.prometheus-query.prometheus/prometheus-server: http://prometheus.kube-system-monitoring.svc.cluster.local:9090/prometheus`

[2020-05-25 19:42] RRAlex commented on #155
Uhm, code 18, seems like the Deployment & HPA's prometheus path might have not matched during testing (or some other magic), but it works now... :octopus:

[2020-05-25 19:42] #155 closed

[2020-06-09 23:03] mwm5945 opened #160 "Adapter failing to scrape Prometheus metrics"
I've been trying to work through [this example](https://github.com/stefanprodan/istio-hpa) of HPA through istio metrics via Prometheus, but the example is pretty old. The docker container was built quite some time ago. However, the example _does_ work correctly. However, upgrading the image to `v0.1.5` through the banzai helm chart yields an error:
[code]
I've verified that this metric exists in P

[2020-06-11 15:27] szuecs commented on #160
We have no idea what banzai cloud does nor what an istio Prometheus is.

Can you explain what you think this all relates to this project?

This projects can execute Prometheus queries to provide values for metrics-server that is used by the HPA.

[2020-06-11 16:21] mwm5945 commented on #160
banzai is just a helm chart to install the kube-metrics-adapter, and istio prometheus is just a prometheus pod that istio sends its metrics to (like total requests, destination pods names, etc). I'm trying to get the kube-metrics-adapter to scrape the metrics from that particular Prometheus pod for use in a horizontal pod autoscaler. However, im getting the `no plugin found` error when the adapter

[2020-06-12 09:51] jbnjohnathan opened #161 "Feature request - configure interval between scraping"
## Today
Today it seems that metrics are collected every 60 seconds (based on what I see in the logs from kube-metric-adapter)
This means that there is as much as 60 seconds delay before HPA gets a new metric to act on.
For services that need to scale up fast, that is adding a lot of delay.

## Request
It would help to be able to configure this, so that HPA works faster.
In our case we collect CPU

[2020-06-12 09:59] jbnjohnathan commented on #161
Even though not mentioned in the README I found that you can do
`metric-config.external.prometheus-query.prometheus/interval: "15s"`

[2020-06-12 09:59] #161 closed

[2020-06-15 08:00] mikkeloscar commented on #160
@mwm5945 can you link directly to how you HPA manifest looks like? Based on the error message from kube-metrics-adapter, it sounds like the HPA is not correctly defined. I'm just not sure how it looks like?

[2020-06-15 13:27] mwm5945 commented on #160
After adding some logs/building myself, i realized that the prometheus args weren't getting to the CLI, for some reason specifying the entrypoint in the dockerfile and the args in the k8's deployment was causing issues, and no prometheus URL was being sent to the CLI. Closing, thanks!

[2020-06-15 13:27] #160 closed

[2020-06-16 15:03] zsoltbaloghmaden commented on #142
I experienced same issue after I added that line working perfectly.

[2020-06-18 21:19] RRAlex commented on #142
Same here, adding this section to the `clusterrole/custom-metrics-resource-collector` made the metrics work on my k8s (1.18.3).
What confuses me is that I installed a cluster a month ago (1.18.2), without that part, and it works... :thinking:
[code]

[2020-06-24 20:08] edsonmarquezani commented on #142
Hello, I came up with this fix also, but I'm still getting the following logs.

[code]

In debug mode I can see the configmap being read, though. And, anyway, communication with the adapter looks not be ocurring. HPAs are not working, and I cannot get via kubectl raw mode.

[code]

Any advice?

[2020-06-25 15:35] lsievert commented on #97
Hello!!
Any idea when this problem will be solved? I am experiencing the same issue using sqs queue messages number.

Thanks,
Lucas

[2020-06-25 15:52] szuecs commented on #97
@lsievert can you provide more data, please?

[2020-06-26 15:55] mikkeloscar commented on #99
Here is a PR to add support in the library we use: https://github.com/kubernetes-sigs/custom-metrics-apiserver/pull/65 if this is merged it would be simple to fix the issue I guess.

[2020-06-26 17:24] mikkeloscar commented on #93
Will close this for now. Please re-open if you still need help.

[2020-06-26 17:24] #93 closed

[2020-06-26 17:25] #82 closed

[2020-07-06 10:55] prageethw commented on #104
@mikkeloscar any idea whether this feature will be done at all?

[2020-07-06 11:19] mikkeloscar commented on #104
@prageethw I have it on my todo list, but didn't get around to implement it yet unfortunately. It's not forgotten but will take some time before I get around to it. Will also happily review PRs adding support :)

[2020-07-17 03:55] prageethw opened #178 "Metrics server seems to fail to pull metrics on eks"
## Expected Behavior
Metrics should be pulled .

## Actual Behavior
  "istio-requests-error-rate" on Pod/go-demo-7-app (target value):         <unknown> / 100m
  "istio-requests-max-resp-time" on Pod/go-demo-7-app (target value):      <unknown> / 500m
  "istio-requests-average-resp-time" on Pod/go-demo-7-app (target value):  <unknown> / 250m
  "istio-requests-per-replica" on Pod/go-demo-7-app (tar

[2020-07-17 08:10] szuecs commented on #178
@prageethw this looks for me like a Kubernetes vs client-go version issue. Can you check if a cluster with version `>= 1.17` works?

[2020-07-17 09:35] prageethw commented on #178
@szuecs  tried with k8s 1.17.X still fails

[code]
[code]

[2020-07-19 16:36] mikkeloscar commented on #178
@prageethw I think it could be related to: https://github.com/zalando-incubator/kube-metrics-adapter/issues/142 Seems like a default RBAC rule is no longer there by default in some setups. Try the suggested steps in that issue.

[2020-07-20 02:37] prageethw commented on #178
@mikkeloscar
I had a look in the helm chart(banzai), it seems it already exists, but still, I see the error in the logs, but It seems the metrics are pulled out successfully though, it just annoying defect it seems :)
https://github.com/banzaicloud/kube-metrics-adapter/blob/master/deploy/charts/kube-metrics-adapter/templates/rbac.yaml#L42

[2020-07-20 03:02] prageethw commented on #178
@mikkeloscar
yeah you are right it was not in collector ClusterRole though. I just added it and sent a pull to helm.

[2020-07-20 04:10] prageethw commented on #178
fix https://github.com/zalando-incubator/kube-metrics-adapter/pull/181 will fix this issue once it is merged.

[2020-07-21 19:24] mikkeloscar commented on #142
Can you check if you have the role `extension-apiserver-authentication-reader` in your cluster?

I have just created a new cluster based on v1.18.6 and it's there by default:

[code]

Or could it be that you're not deploying the kube-metrics-adapter to `kube-system` namespace but to another namespace?

@prageethw, @edsonmarquezani, @bentrombley

[2020-07-22 00:52] prageethw commented on #142
@mikkeloscar
yes default  role exist in `kube-system` namespace, it seems the issue is with  `custom-metrics-resource-reader `and `custom-metrics-resource-collector `that gets created in the namespace I install the adopter it seems.

[2020-07-22 07:23] mikkeloscar commented on #142
@prageethw Is installing to `kube-system` an option for you. Then we could change the docs to include the namespace for all resources. If not then we need to adapt it for users not installing to kube-system where the `extension-apiserver-authentication-reader` is no available. But this also means the configmap is not available and thus I would expect some things to not work as the configMap includ

[2020-07-22 10:23] prageethw commented on #142
@mikkeloscar Thanks for the reply, yeah installing in `kube-system `is always an option though not sure whether that will be the best practice, generally, I like to keep `Kube-system` untouched, though I guess everyone is different. What stop are we giving enough access rights to `custom-metrics-resource-reader` and `custom-metrics-resource-collector` instead of forcing users to install to `Kube-s

[2020-07-22 11:40] mikkeloscar commented on #142
What I want to avoid is that we document more access than is needed. With the change suggested in this thread and in #181 the kube-metrics-adapter would get access to ALL configmaps instead of just a single one as intended.

[2020-07-23 07:09] prageethw commented on #142
@mikkeloscar fair point, I think TBH that is an extreme measure if someone can access to `custom-metrics-resource-collector` and `custom-metrics-resource-reader`, most likely he is already inside the cluster.

[2020-07-30 08:04] lomkju commented on #149
Closing this as it is a duplicate. Thanks @mikkeloscar

[2020-07-30 08:04] #149 closed

[2020-07-31 11:26] ehsanrocket opened #182 "Failed to collect metrics: client_error: client error: 401"
Hi all
I have setup the kube-metrics-adapter
but when it want to get the metrics it says :
```Failed to collect metrics: client_error: client error: 401```
what is the problem ?

myapp and hpa are in the namespace **A**
kube-metrics-adapter is in namespace **kube-sysetem**
and prometheus adapter is in namespace **cattle-promethus**

[2020-07-31 12:25] szuecs commented on #182
Sounds like RBAC does not allow it to get the HPA metrics to me

[2020-08-04 12:05] pedrojimenez commented on #178
Also tested the Fix with image v0.1.5 and worked perfectly:
[code]

Thanks for the fix ;)

[2020-08-04 13:40] ehsanrocket commented on #182
yeah
prometheus operator has been deployed by rancher and the I should have pass the access-prometheus service to the the adapter CLI argument

[2020-08-04 13:41] #182 closed

[2020-08-04 13:55] ehsanrocket opened #189 "non sence target value compare to the value in the prometheus"
Hi all
I have set up the external metrics
from the Prometheus the query eg X shows the 34 value
and I have set the ```AverageValue``` to 15 in hpa
[code]
it works correctly and for the value 34 the HPA create 3 replica
but in kubernetes the HPA shows ```10334m/15```
how 34 is being converted to ```10334m``` ?

this is my full HPA :
[code]

[2020-08-10 09:17] mikkeloscar commented on #189
`10334m` is the Kubernetes way of showing fractions/floating numbers. So `10334m` is the same as `10.334`.

[2020-08-10 09:17] #189 closed

[2020-08-10 15:39] mikkeloscar commented on #142
I want to document the best practice which is the least amount of permissions. If users need something custom or more relaxed they're free to use a custom role setup. I'm also fine documenting that if we clearly state the reason (e.g. not deploying in `kube-system`) However considering that the original issue clearly states a problem when the service account is in `kube-system` and that we also on

[2020-08-11 14:44] dushshantha commented on #91
I ran into the same issue. Any update on this? I am using the latest version.

[2020-08-11 14:45] dushshantha commented on #91
@andrealexandre Were you able to find any workaround for this?

[2020-08-12 02:01] philomory opened #191 "Why not have the InfluxDB collector understand `_value`?"
This may not be the correct place for this, but I didn't see any mention anywhere of a discussion list or a Slack channel: is there are particular reason to require each Flux query to manually rename the `_value` column to `metricvalue`, rather than just having the adapter read the `_value` column directly? I'm having a hard time thinking of a use case where this behavior is desirable.

[2020-08-12 06:18] mikkeloscar commented on #191
@affo contributed the influxDB support. Maybe you remember the reason why it had to be done that way? I see this comment in the example:

[code]

But I don't know if there would be a way around it.

[2020-08-12 20:11] andrealexandre commented on #91
I workedaround it by rewritting the metric key and replace the dots by another non-reserved character used on JSON path. (underscore for example)

[2020-08-12 20:18] dushshantha commented on #91
@andrealexandre Thanks for the response. Yes, I was keeping that as a last resort.

[2020-08-13 08:02] mikkeloscar commented on #91
@dushshantha and @andrealexandre I have made a PR #192 which enables support for keys with dots in them as requested here. Basically the option was to use a different jsonPath library with support for this.

I would appreciate if you could help test it by validating that it works for your use cases. Here is an image built from the PR:

[code]

[2020-09-30 10:18] #91 closed

[2020-10-01 13:31] sharkymcdongles commented on #142
I prefer to have all monitoring related stuff in the monitoring namespace. I have moved the adapter for now though because it seems the only way to get this to work is have it in kube-system since even giving it the right RBAC would mean it needs a clusterwide priv instead of a single cm priv as documented here.

[2020-10-06 20:30] #99 closed

[2020-10-23 13:07] recollir opened #213 "panic: runtime error: invalid memory address or nil pointer dereference"
We get  the following error directly after startup:

[code]

Kube-metrics-adapter is started with the following config:

[code]

We see the following in the logs:

[code]

Kubernetes Version: 1.18.9

[2020-10-23 14:54] mikkeloscar commented on #213
Can you try the latest version? `v0.1.9` (We didn't mark it as a release in github which is maybe a bit confusing)

[2020-10-23 15:08] recollir commented on #213
That worked. Cool. Thank you. It starts up.

I do now see this though:

[code]

Should I be worried? The applied RBAC for the metrics adapter is from https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/docs/rbac.yaml

[2020-10-23 15:11] mikkeloscar commented on #213
Is kube-metrics-adapter running in the `kube-system` namespace or somewhere else? If not in `kube-system` you need a different configuration as discussed in https://github.com/zalando-incubator/kube-metrics-adapter/issues/142

[2020-10-23 15:11] recollir commented on #213
kube-system

[2020-10-23 15:17] recollir commented on #213
I redeployed the rbac (deleting it first) and the deployment again. Now the error msg disappeared. We are fine. Thanks again.

[2020-10-23 15:17] #213 closed

[2020-10-26 09:24] felixPG opened #214 "Scrape Interval"
Hi:

I loved the improvements over prometheus-adapter. Actually querying through an annotation is a brilliant idea. The problem is that the scrape interval is too slow and therefore the HPA is very very slow (delayed a lot). For this reason I go back to prometheus-adapter.

Please, could you add an option to config the scrape (query to prometheus) interval??? By scrape interval I mean the time tha

[2020-10-26 09:50] mikkeloscar commented on #214
@felixPG This is unfortunately not documented but there is a way to set the interval via an annotation like:

[code]

Default is 1 minute.

[2020-10-26 09:53] felixPG commented on #214
@mikkeloscar Great news! Thanks so much, I will try this annotation, but please, could you update the doc to reflect this?

[2020-10-26 10:56] #214 closed

[2020-10-26 20:25] Typraeurion opened #216 "invalid memory address or nil pointer dereference"
We had the kube-metrics-adapter running when we initially set up our K8s cluster earlier this year (in Amazon EKS).  However after upgrading the cluster to 1.18 today I checked the kube-system pods and noticed that the adapter had been crashing.
[code]

I compared our YAML configs to the current files under docs/ and don’t see any changes.  The log output from the pod shows a panic right after gen

[2020-10-27 08:40] mikkeloscar commented on #216
Seems to be introduced with #211

If you can use version `v0.1.9` for now instead of `latest` then it should work. I hope to add a proper fix today.

[2020-10-27 10:27] #216 closed

[2020-10-27 16:10] Typraeurion commented on #216
Confirmed: the “latest” version successfully started up about 5½ hours ago (without intervention) and has been running uninterrupted since.  Thanks for the fix.

[2020-10-28 11:45] benor1470 opened #218 "(get pods.custom.metrics.k8s.io *) fails"
## Expected Behavior
apply the yamls from https://github.com/zalando-incubator/kube-metrics-adapter/tree/master/docs
run my service which exposes metrics
get auto scales

## Actual Behavior
no autoscale,
when I ran
"kubectl describe hpa my-hpa"
getting

  AbleToScale    True    SucceededGetScale    the HPA controller was able to get the target's current scale
  ScalingActive  False   FailedGetPods

[2020-10-29 09:50] mikkeloscar commented on #218
Can you show the logs of the kube-metrics-adapter. Sounds like it's either not running or returning errors.

[2020-11-04 19:40] #104 closed

[2020-11-05 14:05] ASKozienko opened #225 "Several HPAs with equal query name but not equal query body"
For example we have 2 HPAs but query name is same for both of them `metric-config.external.prometheus-query.prometheus/query`
[code]

[code]
How does it work? Each HPA use own defined query or QUERY1 will be overwritten with QUERY2?

[2020-11-05 14:08] mikkeloscar commented on #225
We have just merged https://github.com/zalando-incubator/kube-metrics-adapter/pull/219 which solves this issue by letting you specify different metric names. See the README.md for updated docs.

[2020-11-05 14:13] ASKozienko commented on #225
@mikkeloscar thank you for the quick response, I will take a look

[2020-11-16 14:13] ricgatti opened #227 "Failed to create new metrics collector"
## Expected Behavior
`kube-metrics-adapter` should be able to create a metrics collector based on the example in the readme.

## Actual Behavior

[code]

And in the log of kube-metrics-adapter pod
[code]

## Steps to Reproduce the Problem

  1. Using the manifests with some updation of config parameters in (https://github.com/zalando-incubator/kubernetes-on-aws/tree/dev/cluster/manifests/kube-metr

[2020-11-16 16:35] mikkeloscar commented on #227
@ricgatti Thanks for reporting this. There are two reasons it doesn't work:

* The new style of configuring the HPA which is documented in the README is not yet released in a version and thus does not work with `v0.1.9`
* I found a bug in the prometheus metric type setup, which is addresses in #228

So to resolve the issue you can either wait for #228 to be merged and use the latest image, or you

[2020-11-16 16:41] ricgatti commented on #227
Thanks, @mikkeloscar with your advice on the hpa definition works fine.

[2020-11-16 16:52] #227 closed

[2020-11-16 23:57] csmarchbanks commented on #225
Hello, I can open a different issue, but it seems related to this question.

Right now, we have the same service deployed into two different namespaces, which means there is a copy of the HPA in each namespace. This query names are the same, and we are seeing the HPA scaling be very erratic, and sometimes an HPA will deploy the number of replicas for `namespace1` into `namespace2` and vice-versa.

[2020-11-17 12:07] mikkeloscar commented on #225
@csmarchbanks This is unexpected to me, but I will test it as well. Can you say which version you currently run? The latest master image is: `registry.opensource.zalan.do/teapot/kube-metrics-adapter:v0.1.9-10-gb5fbb1b` if you want to test against that one.

[2020-11-17 17:33] mikkeloscar opened #229 "External metrics not stored namespaced."
Currently external metrics are not stored with the namespace in mind in the metric store. This results in metric values being overwritten if two similar HPAs (metric name and labels match) are deployed in different namespaces.

First reported in https://github.com/zalando-incubator/kube-metrics-adapter/issues/225#issuecomment-728448007

[2020-11-17 17:34] mikkeloscar commented on #225
@csmarchbanks I can confirm this bug exists. I have created a dedicated issue for tracking this: https://github.com/zalando-incubator/kube-metrics-adapter/issues/229

Will close this one as the original question is solved.

[2020-11-17 17:34] #225 closed

[2020-12-07 19:43] knkarthik opened #237 "HPA error : no metrics returned from external metrics API"
I've installed `kube-metrics-adapter` from [manifests from](https://github.com/zalando-incubator/kube-metrics-adapter/tree/master/docs) `docs`. I'm trying to use this to expose metrics provided by [gitlab-runner](https://docs.gitlab.com/runner/monitoring/).

From Prometheus:
[code]

Logs from `kube-metrics-adapter`:

[code]
and raw query:
[code]

but HPA can't find this:

[code]

[2020-12-08 12:26] mikkeloscar commented on #237
What does your HPA look like?

[2020-12-09 22:23] knkarthik commented on #237
@mikkeloscar

[code]

[2020-12-15 08:10] mikkeloscar commented on #237
@knkarthik looking more at this I think it's working as expected. In your describe HPA output we see:

[code]

Which suggests it's getting the value `1` from the metric. I think the error you're seeing is from back when the HPA was created and there were not yet any metrics available. It's not an ongoing issue.

[2020-12-29 12:16] michalzuchowski opened #239 "eks sqs reachout, aws credentials question"
## Expected Behavior
visibility of sqs metrics

## Actual Behavior
kubectl describe hpa custom-metrics-consumer:

unable to get external metric default/app-queue-length/&LabelSelector{MatchLabels:map[string]string{queue-name: seg_query_eng-query_exec-us-east-1-michalzuchowski-req.fifo,region: us-east-1,type: sqs-queue-length,},MatchExpressions:[]LabelSelectorRequirement{},}: no metrics returned fr

[2020-12-29 15:10] michalzuchowski commented on #239
I've just created aws credentials from secrert, and I'm able to get metrics from kube-metrics-adapter:

 kubectl exec --stdin --tty kube-metrics-adapter-86ccd64f7-8schz -n kube-system -- /bin/sh
/ # aws --region us-east-1 cloudwatch get-metric-statistics --metric-name ApproximateNumberOfMessagesVisible --namespace AWS/SQS --period 3600 --start-time 2020-12-22T11:00:00Z --end-time 2020-12-22T13:00:

[2021-01-04 08:42] mikkeloscar commented on #239
Is there anything in the logs of the `kube-metrics-adapter` maybe it suggests what is going on?

[2021-01-04 09:53] michalzuchowski commented on #239
@mikkeloscar
Everything looks as should be, except that kube-metrics-adapter can't get any sqs metrics.
Crucial question is:

In https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/README.md#aws-iam-role
what exactly mean: "To integrate with AWS, the controller needs to run on nodes with access to AWS API."
Is this mean:

node can reach out to api through network/firewall (that w

[2021-01-04 10:55] mikkeloscar commented on #239
Is this mean:

Sorry, this is a bit confusing the way it's written. Basically we mean that kube-metrics-adapter needs to have the right AWS credentials for sqs (however you want to ensure that).

In the logs we see:

[code]

Which suggests the HPA metric is not being correctly configured. You need to also specify the flag `--aws-region=<region>` otherwise the sqs collector won't be enabled. Simila

[2021-01-04 11:56] michalzuchowski commented on #239
@mikkeloscar
I've added ```--aws-region to ``` parameters: kube-metrics-adapter

Here are my hpa code and logs.
 This reduced to sqs is copy from https://github.com/zalando-incubator/kube-metrics-adapter/blob/master/example/deploy/hpa.yaml

Can you glance

[code]

hpa logs:

[code]

[2021-01-05 11:09] mikkeloscar commented on #239
Thanks for all the information. Based on this I found a bug fixed in #251

Can you try this docker image: `registry.opensource.zalan.do/teapot/kube-metrics-adapter-test:pr-251-1` (built from the PR) and validate that the issue is fixed for you with that?

[2021-01-05 15:49] #239 closed

[2021-01-05 16:33] michalzuchowski commented on #239
Not helped, but I'm going to check this on differnt eks cluster

[2021-01-10 14:45] benor1470 commented on #218
came back to the issue and managed to run, so there is no bug

[2021-01-10 14:45] #218 closed

[2021-01-13 14:38] tanersener opened #252 "Installing the helm chart into a namespace other than kube-system does not work"
## Expected Behavior
Installing `kube-metrics-adapter` into a namespace other than `kube-system` must be allowed. Appending `--set namespace=<name>` to `helm install` command should be enough to change the namespace `kube-metrics-adapter` is installed.

## Actual Behavior
When `--set namespace=my-app-namespace` is added to `helm install/upgrade` command, `kube-metrics-adapter` is installed into `m

[2021-01-13 19:17] vineel-concat opened #254 "HPA error, GKE unable to read custom metric requests-per-second."
I am trying to create a custom metric based auto-scaling based on requests per second on GKE.

Installed the kube-metrics-adapter by applying https://github.com/zalando-incubator/kube-metrics-adapter/tree/master/docs yaml files.

On GKE cluster, enabled istio and installed Prometheus using
[code]

After installing, created an HPA based on the example provided in the readme

[code]

Exposed applica

[2021-01-14 09:21] mikkeloscar commented on #254
Is your app listening on port `9090`? It sounds like it's configured to listen on `8080` form your description, so you may just need to adjust the annotations in the HPA to have the right port/path.

[2021-01-14 15:44] vineel-concat commented on #254
My app is listening on port 8080. Sorry, I was thinking that 9090 is the port your service reads logs from.
To provide more context about my application:
It's a python flask app/end-point  which accepts HTTP requests
It's built on top of TensorFlow docker image.
Can you please let me know what steps I need to follow in my case?

[2021-01-14 18:31] #252 closed

[2021-01-14 18:31] jonathanbeber commented on #252
fixed by #253

[2021-01-15 04:50] vineel-concat commented on #254
I have also tried the Prometheus queries based on the example provided in the link https://medium.com/google-cloud/kubernetes-autoscaling-with-istio-metrics-76442253a45a .

I am getting the following error:

[code]

[2021-01-15 10:40] mad01 opened #255 "external metrics are not namespace scoped for prometheus"
## Expected Behavior
Assuming you have two different deployment of the same application running in the same cluster but in different namespaces. You define the same query name like this. hpa 1 and 2 use the same name. The expected result for me is that the hpas in different namespaces are not ware of each other and cant interfere.

hpa 1
[code]

hpa 2
[code]

## Actual Behavior
Since they use the

[2021-01-15 10:43] mad01 commented on #255
duplicate of #229

[2021-01-15 13:09] mad01 commented on #255
i am trying to understand the code, to try to get some understanding of how complicated this would be to fix. Do you have any suggestion on how or if this is a reasonable thing to fix ?

[2021-01-15 13:20] mikkeloscar commented on #255
Hi, I did start working on this back in November, but never got around to finish up the changes.

I have now pushed my unfinished changes here which may serve as a starting point if you're interested in working on a proper fix: https://github.com/zalando-incubator/kube-metrics-adapter/compare/master...namespace-external-metrics

[2021-01-15 13:31] mikkeloscar commented on #254
You HPA above suggest you want to scale based on metrics exposed by the application itself on `:9090/metrics`. If you want to scale based on Prometheus metrics then you need to configure it following this example: https://github.com/zalando-incubator/kube-metrics-adapter#example-external-metric

Note the blog post you refer to is based on the older format, so it's slightly different. See the link

[2021-01-15 13:35] mad01 commented on #255
Cool thank you. will take a look. hoping to be able to get some time to work on it

[2021-01-17 02:57] vineel-concat commented on #254
I have tried the example from
https://github.com/zalando-incubator/kube-metrics-adapter#example-external-metric

seeing the following error:
`msg="Event(v1.ObjectReference{Kind:\"HorizontalPodAutoscaler\", Namespace:\"test\", Name:\"hello-app-pro\", UID:\"681342ce-a7e8-4b8f-9603-9bc421fa63aa\", APIVersion:\"autoscaling/v2beta1\", ResourceVersion:\"1183645\", FieldPath:\"\"}): type: 'Warning' reaso

[2021-01-18 10:00] mad01 commented on #255
I did not get that far last week, but looks like i wont have time to work on the atm at least. Here is the branch i with the changes i was able to do. The changes are only related to getting tests to pass before i started.
https://github.com/mad01/kube-metrics-adapter/tree/namespace-external-metrics

[2021-01-21 15:52] dudicoco opened #257 "external metrics error"
Hi,

We've upgraded from v0.0.5 to v0.1.9 and changed the hpa spec to the following:
[code]

We are seeing the following in the logs:
[code]

When using the `latest` image tag the error is gone.

In addition, it seems that kube-metrics-adapter is still able to collect metrics from hpas in API version autoscaling/v2beta1 , although this API is not supported in the new version.

[2021-01-21 15:57] mikkeloscar commented on #257
@dudicoco unfortunately the docs are not aligned with the latest release (they are newer). Will try to cut a new release soonish.

True, we don't block this, but some feature won't be available if you define your HPA in `autoscaling/v2beta1` format.

[2021-01-21 16:02] dudicoco commented on #257
@mikkeloscar thanks!

Can you please elaborate on which features won't be available in `autoscaling/v2beta1`? We would like to plan the best course of action for upgrading to the latest kube-metrics-adapter + `autoscaling/v2beta2`, ideally it would be great if we could first upgrade kube-metrics-adapter without it breaking our current hpas, and later one upgrade the hpas to `autoscaling/v2beta2`.

[2021-01-21 16:02] szuecs commented on #257
@mikkeloscar I added a PR to always release merge to master as stackset-controller

[2021-01-21 16:41] mikkeloscar commented on #257
@dudicoco I don't think I can list them all, but my proposal for you would be to look at the docs for the release v0.1.9: https://github.com/zalando-incubator/kube-metrics-adapter/tree/v0.1.9#kube-metrics-adapter

These are still in `autoscaling/v2beta2` format, but basically anything you can't express in `autoscaling/v2beta1` would not work. I believe in this version you can express everything, t

[2021-01-21 19:23] dudicoco commented on #257
@mikkeloscar thank you.

It seems that k8s somehow makes both api versions available within the cluster, and automatically converts to the correct format.

If you run `kubectl -n my-namyspace get hpa.v2beta1.autoscaling` and `kubectl -n recs get hpa.v2beta2.autoscaling` you get the same list of hpas in both versions,  this is without me deploying any hpa resources in API `v2beta2`.

Comparing the

[2021-01-22 09:01] mikkeloscar commented on #257
@dudicoco indeed. That is what I meant. The only problem would be if there is a feature used from `autoscaling/v2beta2` which you could not express in `autoscaling/v2beta1`, but I don't think that is the case with the mentioned version.

[2021-01-23 14:18] mikkeloscar commented on #255
I have now opened a PR #259 to get this work finally done. I will work on it next week.

[2021-01-23 16:14] mikkeloscar commented on #255
@mad01 I managed to get #259 working. You can try it out with the image built from the PR: `registry.opensource.zalan.do/teapot/kube-metrics-adapter-test:pr-259-7`

[2021-01-23 16:17] mikkeloscar commented on #229
This is the same as #255 . Closing as the other issue has more information.

[2021-01-23 16:17] #229 closed

[2021-01-23 16:19] mikkeloscar commented on #237
Closing as this seem to be resolved.

[2021-01-23 16:19] #237 closed

[2021-02-19 03:07] victor23d opened #271 "no subjectaccessreviews access"
It works on GKE cluster but doesn't work on AKS cluster.
Error log on AKS cluster:
```subjectaccessreviews.authorization.k8s.io is forbidden: User \"system:serviceaccount:custom-metrics:custom-metrics-apiserver\" cannot create resource \"subjectaccessreviews\" in API group \"authorization.k8s.io\" at the cluster scope") has prevented the request from succeeding (get pods.custom.metrics.k8s.io *)``

[2021-02-19 09:11] mikkeloscar commented on #271
Could you add some more logs to show where the `kube-metrics-adapter` is failing with this error? I don't understand when it needs those permissions.

[2021-02-19 10:11] #255 closed

[2021-02-19 11:27] mad01 commented on #255
sorry for the late reply. thank you for taking the time. will try it out next week

[2021-02-28 12:09] ymmt2005 commented on #271
There should be a system ClusterRole named `system:auth-delegator` for granting access to SubjectAccessReviews API.
ref. https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/#extension-apiserver-authorizes-the-request

As the current manifest has ClusterRoleBinding for `system:auth-delegator` already, I don't understand the reason too.
Maybe because AKS clusters don't hav

[2021-03-02 20:28] szuecs commented on #271
@ymmt2005 interesting, maybe @victor23d can check that. In our custom AWS cluster (non eks) we have the clusterrole system:auth-delegator

[2021-03-02 22:43] szuecs commented on #271
I got the answer:

[code]
from a 1.19.7 cluster

[2021-04-09 10:40] robertbotez opened #296 "Metric Resolution Flag"
Hi,

I can set  the flag in the metric-server, thus I can query for the predefined metrics (CPU and memory) more quickly (10s, 30s and so on). I want to do this too for the custom and external metrics, because they are queried once in a minute.

Is there a way to set the metric-resolution flag for the custom and external metrics?

Thank you.

[2021-04-13 09:30] mikkeloscar commented on #296
This can be set via an annotation on the HPA. #298 aims to make this more clear in the docs!

[2021-04-13 09:35] #296 closed

[2021-04-26 17:41] Miniland1333 commented on #96
Hello @mikkeloscar, were you ever able to add that section to the README? I actually had to come here to figure out how to do it as a newbie.

[2021-05-21 09:48] jonathanbeber opened #316 "Enable and disable ScalingSchedule collectors based on CRD installation"
From [this discussion](https://github.com/zalando-incubator/kube-metrics-adapter/pull/315#discussion_r636772717) it would be great if we could simplify the way kube-metrics-adapter enable and disable the time-based metrics checking if the required CRDs are installed.

[2021-05-31 11:15] ermakov-oleg commented on #97
Hello, when do you plan to release these changes?

[2021-06-01 08:42] paul-benetis opened #331 "Failed to create new metrics collector (external metrics)"
## Expected Behavior
The adapter should retrieve a json object from the endpoint and use the specified value for autoscaling.

## Actual Behavior
HPA returns this error:
`Failed to create new metrics collector: identifier is not specified as a label for metric queue-length`
Note: Internal metrics work properly.

## Steps to Reproduce the Problem

Installed the adapter with the following settings e

[2021-06-01 08:55] jonathanbeber commented on #331
Thanks a lot for reporting, @paul-benetis.

We do have validation for using an `identifier` label in the metric.

https://github.com/zalando-incubator/kube-metrics-adapter/blob/85f6dda229152b2572ba65fae31ea798f1a06f97/pkg/collector/http_collector.go#L56-L58

@mikkeloscar are you aware if this label is required for something else? It does not seem to be used, but I'm no sure if it could lead to a m

[2021-06-01 09:41] mikkeloscar commented on #331
I think this was forgotten when we removed the dependency on metric name for identifying the metric type: https://github.com/zalando-incubator/kube-metrics-adapter/pull/219

So it should be safe to remove this `identifierLabel` check now!

[2021-06-01 11:53] #331 closed

[2021-06-02 15:13] mikkeloscar commented on #97
@ermakov-oleg Hi, we're just testing another feature for ScheduledScaling and will release it all together. We aim to make the release next week.

[2021-06-02 16:49] jonathanbeber commented on #97
@ermakov-oleg as Mikkel said we plan to release it soon, although, if you want you can test the pre-release version with the same image version we are running in [`our clusters`](https://github.com/zalando-incubator/kubernetes-on-aws/blob/a53d9754d3937e72911be26f32aec8a9f21b45ea/cluster/manifests/kube-metrics-adapter/deployment.yaml#L27):

[code]

[2021-06-03 16:00] ermakov-oleg commented on #97
Thank you!

I already looked at the diff with the latest version and used `v0.1.10-68-g85f6dda`, everything works fine on this one.

[2021-06-14 14:29] dudicoco opened #333 "insecureSkipTLSVerify is insecure"
The `insecureSkipTLSVerify: true` flag is used within the deployment manifest: https://github.com/zalando-incubator/kube-metrics-adapter/blob/9da155554b4da7e4fd63a12ec6a6ef1e7a8a9980/docs/custom-metrics-apiservice.yaml#L11

According to the k8s api docs this should not be used: `InsecureSkipTLSVerify disables TLS certificate verification when communicating with this server. This is strongly discou

[2021-06-14 17:45] szuecs commented on #333
@dudicoco I guess you can change it, but test it in a test cluster and we would be happy if you could report back, in case you can confirm it works or not.

[2021-06-14 18:39] dudicoco commented on #333
@szuecs per the docs, we must supply the `CABundle` to the configuration in order for that to work, and since `kube-metrics-adapter` is generating its certificates within its code, i'm not sure how can we supply the `CABundle`.

[2021-06-15 12:33] szuecs commented on #333
Then it's a feature request, thanks for checking. If you want you can also file a pull request.

[2021-06-15 13:12] dudicoco commented on #333
@szuecs I wouldn't define it as a feature request but more as a security vulnerability.

[2021-06-15 17:46] szuecs commented on #333
@dudicoco if you like. I think the position to successful exploit this vulnerability is an already so powerful position that you have at least dozens of possibilities to exploit the cluster. You can DoS the controller-manager with the "right" hpa for example.

[2021-08-06 18:41] andriyfomenko opened #359 "Using the same adapter for the Vertical Pod Autoscaler (VPA) ?"
## Expected Behavior
The same kind of annotations-based "magic" to work for VPA, in the same way as it is exposed for HPA

## Specifications
It's just an idea, no spec [yet]

[2021-08-09 12:40] jonathanbeber commented on #359
Hello, @andriyfomenko, thanks for opening the discussion. Although, I think the best place to discuss that is on the VPA project. This project is just an implementation of a [custom metrics API server](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/custom-metrics-api.md).

I see recently it was part of a discussion in SIG autoscaling and, we can f

[2021-10-12 18:48] fluxx-sleblanc opened #372 "Array return values do not work with json-path"
## Expected Behavior
I attempted to use the Pod collector to collect Puma metrics using json-key: `$.worker_status.[*].last_status.backlog` - which, in testing, returns [0,0]
I expected the aggregator function to reduce the values, as the documentation shows.

## Actual Behavior
The message returned is "unexpected json: expected single numeric or array value"

## Steps to Reproduce the Problem

[2021-10-19 08:04] #372 closed, assigned to nobody

[2021-11-23 23:18] jgournet opened #377 "[FeatureRequest] ScalingSchedule: add crontab schedule"
The current options "OneTime" and "Repeating" do not allow the same flexibility as using a classic crontab/cronjob style
=> would it be possible to add this ?

Notes:
1) thanks for adding that ScalingSchedule ! really appreciated
2) example use case: "schedule every first day of the Month at 1am" => "0 1 1 * *"    : this is something easily done in cronjob, but can't be done with the current Scali

[2021-11-26 08:52] universam1 opened #378 "container release tag concept"
## Expected Behavior

We are happy to use this great tool! However we are also somwhere uncertain about the release concept of this project which is not working well with tools such as `renovateBot`.

It would be helpful when all the releases are published as github releases, and the `latest` container is also backed up with a semver versioned tag.

## Actual Behavior

The examples suggest using `

[2021-11-26 10:07] universam1 commented on #378
is this related to #258 ?

[2021-11-26 23:30] mikkeloscar commented on #378
@universam1 Currently it works like this: `latest` always maps to `master`, whether there is a release or not. We document `latest` not because we recommend that you should use that, but rather to avoid having old versions documented because we forget to update the example deployments. We recommend that you only use the releases unless you want to test something potentially new only in `master`.

[2021-12-21 05:12] wildermesser opened #379 "Panic: assignment to entry in nil map"
## Expected Behavior
Kube-metrics-adapter collects pod's metrics that are exposed as json.

## Actual Behavior
Kube-metrics-adapter fails with panic:
[code]

## Steps to Reproduce the Problem

  1. Pods expose metrics:
[code]
  2. HPA configuration:
[code]
## Specifications

  - Version: docker image kube-metrics-adapter@sha256:5be8869d21a9fb16bfeb1462e014439b4be81706c8a370d48d3a69db34694243
  - P

[2021-12-21 09:32] szuecs commented on #379
@mikkeloscar we should also do something about the unrelated error logs for obviously missing `v1.ClusterScalingSchedule`.

[2021-12-21 16:59] mikkeloscar commented on #379
@wildermesser I can't figure out which version of the kube-metrics-adapter you use based on the image hash?

What if you use the latest image: `registry.opensource.zalan.do/teapot/kube-metrics-adapter:v0.1.17-3-g2ccd690` Do you still see this issue?

[2021-12-22 05:46] wildermesser commented on #379
Yes, I use:
[code]
and see this issue.
Sorry, I specified the wrong sha256 digest in the topic.

[2022-01-03 16:53] mikkeloscar commented on #379
@wildermesser Thanks for the update. I tried to replicate the issue but didn't succeed so far. Do you have other HPAs in the cluster or do you only have one using `type: Pods` metrics?

[2022-01-10 06:00] wildermesser commented on #379
There are some "standard" HPA's in the cluster with resource metrics like `autoscaling.alpha.kubernetes.io/metrics: '[{"type":"Resource","resource":{"name":"cpu","targetAverageValue":"800m"}}]'`. They are working correct because they collect metrics from "standart" metrics-server from k8s.gcr.io/metrics-server

[2022-01-10 08:59] mikkeloscar commented on #379
@wildermesser Thanks, in the meantime we have also managed to replicate the problem and are looking more into the issue this week.

[2022-01-14 06:05] wildermesser commented on #379
I confirm that issue is fixed in `kube-metrics-adapter:v0.1.17-6-g9d8359b`. Thank you, @katyanna

[2022-01-14 06:05] #379 closed

[2022-01-14 06:09] wildermesser commented on #97
I am experiencing the same issue at newest `kube-metrics-adapter:v0.1.17-6-g9d8359b` version. @jonathanbeber @mikkeloscar can you show me merged PR's with possible fixes? It seems like the only way to fix it is do not to expose old metrics to HPA controller.

[2022-01-14 08:24] mikkeloscar commented on #97
@wildermesser I think the only thing we have here is this: https://github.com/zalando-incubator/kube-metrics-adapter/pull/309

[2022-01-14 10:01] wildermesser commented on #97
@mikkeloscar thank you! I saw these arguments before. But I could not realize its purpose. After reading this issue I can set proper values for these arguments. And it resolves this issue for me. I think a small description of all arguments in README will be useful for people like me :)

[2022-02-08 19:20] ksdeepak93 opened #399 "update to work with kube 1.22"
## Expected Behavior
Mertics-adapter is installed on cluster

## Actual Behavior
Chart is not installed as "the server could not find the requested resource"
kind "apiregistration.k8s.io/v1beta1/APIService" for "external-metrics-apiservice" (v1beta1.external.metrics.k8s.io)

## Steps to Reproduce the Problem

[code]
Install chart

## Specifications

- The apiregistration.k8s.io/v1beta1 API version

[2022-02-08 19:24] szuecs commented on #399
Does it happen with the provided images or only with banzai cloud chart?
We don't build banzai cloud chart so I don't think that it's our issue if I understand correctly.

[2022-02-08 19:37] ksdeepak93 commented on #399
I think you are right. thank you

[2022-02-08 19:37] #399 closed

[2022-02-14 13:03] rgarcia89 opened #400 "Update outdated base image?"
My container vulnerability scanner is showing multiple issues for the latest release, due to the fact, that it is based on `alpine-3.12`.
Are there any plans to update to alpine 3.15?

[2022-02-14 14:49] #400 closed

[2022-02-14 15:07] rgarcia89 commented on #400
Awesome - thanks a lot for your fast reaction :)
Looks also good on my side now

[2022-04-14 16:10] rbounds opened #420 "Kustomize support"
I'd like to be able to install `kube-metircs-adapter` as a [kustomize remote target](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md#remote-targets).

It should be a small effort to add this support.

A very quick example. There is possibly a better order for resources:
[code]

[2022-05-03 16:39] mikkeloscar commented on #420
Contributions are welcome :)

[2022-05-10 15:23] prune998 opened #431 "Helm chart should be available in a chart repository"
## Expected Behavior
Helm chart should be available in a chart repository (https://helm.sh/docs/topics/chart_repository/ and https://artifacthub.io/docs/topics/repositories/#helm-charts-repositories) so we can use it by using chart `dependencies`

## Actual Behavior
the helm chart needs to be downloaded from this repo to be used

[2022-05-10 18:18] prune998 commented on #431
https://helm.sh/docs/topics/chart_repository/#github-pages-example could help achieve that quickly. I can help too

[2022-05-11 08:54] mikkeloscar commented on #431
That would be very welcome. We don't use helm ourselves, but happy to support it if it's not too much effort.

[2022-05-11 18:20] mikkeloscar commented on #431
Configured it like this:

![image](https://user-images.githubusercontent.com/128566/167919072-dd65d4fc-763d-46af-bb2e-18c1b88c0dfa.png)

[2022-05-11 18:53] prune998 commented on #431
Thanks @mikkeloscar
It seems it would be easier to maintain the chart in another branch (like `gh-pages`) else it's more complicated to trigger on a change on master, as updating the chart index is also a change on master...
I'm new to setting this up, and trying different things, but the easier would be to change the branch.

I'm building up a PR for the action and the other files.

[2022-05-11 20:05] prune998 commented on #431
PR at https://github.com/zalando-incubator/kube-metrics-adapter/pull/432 but needs Pages to be served from the `gh-pages` branch first.
Thanks !

[2022-05-30 12:15] sfs77 opened #434 "[Doc Question] May I config multiple type of collector in a single HPA"
May I config multiple type of collector (etc. prom and influx) in a single HPA with multiple metric config,  Dose it works?

[2022-05-30 13:03] #434 closed

[2022-07-06 12:33] AnthonMS commented on #254
Hello, and sorry for commenting on an old issue. But I am new to this k8s world and I'm just trying to get the HPA to work properly for the PHP application at my work.
scaling based on CPU is simply too slow, and it will be scaled after all our users leave again because they have waited 10 seconds for a response.

How do I get this to run in our GKE instance?
I know how k8s works in general and no

[2022-07-06 15:01] AnthonMS commented on #96
@szuecs thank you for the quick reply.

I have tried setting up the adapter by applying all the yaml files from docs dir. And I started out by applying CRD and RBAC first.

I do not seem to get any errors, but the HPA I create with custom metrics are all failing. Under targets it says Unknown/1k. I assume that's because the custom metric isn't working.

I have tried all the different ports that ma

[2022-07-06 15:49] szuecs commented on #96
@AnthonMS maybe ask GKE support, if it's possible to run kube-metrics-adapter in GKE. I am not sure if all requirements are made. One problem could be your kubernetes version and the external-metrics-apiservice.yaml:
[code]

Maybe in your kubernetes version it's not v1beta1 but v1, for example.

[2022-07-06 16:40] AnthonMS commented on #96
@szuecs It seems to supports it from what I have read. I have also added a comment on issue #254 since I am getting the same errors. I have just ran the logs command as he did, and I get the same error that connection was refused on ip:port/metrics.
I am running the same setup with a Load Balancer forwarding port 80 to 8080. So I'm assuming that is the port I need to put in the hpa?

Do I need to

[2022-07-07 21:22] szuecs commented on #96
Requests per second is possible if you run skipper as ingress controller https://opensource.zalando.com/skipper/kubernetes/ingress-controller/

[2022-09-17 11:01] smartaquarius10 opened #478 "Is it possible to retrieve request per second to pod without using prometheus?"
Hello,

I dont have any observability app in my kubernetes environment. By any chance is it possible to retrieve the http request per second to pod without using such apps like prometheus, datadog etc.

Thank you

[2022-09-17 11:38] szuecs commented on #478
It's not what this project provides. In general you can export metrics in your application or proxy without collecting (f.e. Prometheus).
These metrics can provide rps as you want.
We don't provide support on this.

[2022-09-17 11:39] #478 closed

[2022-09-17 13:20] mikkeloscar commented on #478
If your app exposes a json endpoint with the metric then you can use the http collector to get the metric and scale based on that.

[2022-09-17 14:23] smartaquarius10 commented on #478
@mikkeloscar, Oh ok.. Thank you so much..

@mikkeloscar,@szuecs, How to setup this adapter. If I setup this without prometheus then what to do with this line

https://github.com/zalando-incubator/kube-metrics-adapter/blob/9e057c107538cc00818ec24e42a5ae1c311902e8/docs/deployment.yaml#L28

[2022-09-17 16:37] szuecs commented on #478
The adapter just enables you to get the metrics from different sources. One is Prometheus and if you don't want that you just don't use this flag.

[2022-11-03 07:09] SkyeBeFreeman opened #497 "Parameters consultation"
What is the difference between "metrics-ttl" and "garbage-collector-interval".

[2022-11-03 08:08] #497 closed